<html>
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js" defer></script>
    <link href="./style.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <h1>Welcome to Minesweeper</h1>
        <div>
            <p>
                Matrix size
                <input type="text" v-model="matrixSizeTxt"/>
            </p>
            <p>
                Number of bombs
                <input type="text" v-model="numberOfBombsTxt"/>
            </p>
            <button @click="startGame">Start a game</button>
            <button @click="AI">AI helps</button>
            <!-- <button @click="turnOnIntrusiveAI"
             :style="{backgroundColor: yellow}">
                AI intrusively helps
            </button> -->
            <input type="checkbox" id="intrusiveAIcheckbox" v-model="intrusiveAIisActive" />
            <label for="intrusiveAIcheckbox">AI intrusively helps</label>
        </div>
        <div>
            <table>
                <tr v-for="(row,i) in counts">
                    <td v-for="(d,j) in row" :id="i.toString()+'_'+j.toString()" @click="clicked" @click.right.prevent="rightClicked">
                        {{char(i,j)}}
                    </td>
                </tr>
            </table>
        </div>
        <h1>{{message}}</h1>

    </div>
</body>

</html>